<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} [%15.15t] %-40.40logger{39}[%line]: %msg%n"/>

<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <Pattern>${FILE_LOG_PATTERN}</Pattern>-->
<!--        </layout>-->
<!--    </appender>-->

    <!-- Appender to log to file -->
    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>maven-repo-clone.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>maven-repo-clone.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <!--    <logger name="me.ihxq.mavenrepoclone" level="debug" additivity="false">-->
    <!--        <appender-ref ref="CONSOLE"/>-->
    <!--    </logger>-->
    <root level="INFO">
<!--        <appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="file"/>
    </root>

</configuration>
